.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
    min-width: 80%;
}

.cartInfo {
    padding: 2rem;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.totalPrice {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
    }

    .cartInfo {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
        padding-top: 0;
        box-sizing: border-box;
    }

    .deleteBtn {

    }
}