.productContainer {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}