.header {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

.headerText {
    margin: 0;
    padding: 2rem;
    cursor: pointer;
    font-size: 2rem;
}

.headerText a {
    text-decoration: none;
    color: #f7f1d2;
}

.headerNav {
    padding: 2rem;
}

.navList {
    margin: 0;
    display: flex;
    gap: 1rem;
}

.navList li {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #f7f1d2;
    font-size: 1.5rem;
}

.headerText a:hover,
.headerText:hover,
.link:hover {
    color: lightgray;
}