.productCard {
    width: 16rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 200ms;
    overflow: hidden; 
}

.productCard:hover {
    transform: scale(1.05);
}

.imgContainer {
    width: 100%;
    height: 18rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage {
    width: 100%;
    height: auto;
    object-fit: fill;
    padding: 1.5rem;
    overflow: hidden;
}

.productTitle {
    margin: 0;
    font-size: 1.2rem;
    border: 1px solid #e5e7eb;
    background-color: rgb(237, 237, 237);
    padding: 1.5rem;
    height: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}