.quantity {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
}

.quantity i:hover {
    transform: translate(0, -1px);
}

.quantity i:active {
    transform: translate(0, 0px);
}