.imgContainer {
    display: flex;
    flex-direction: column;
}

.imgContainer img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.container h1 {
    position: absolute;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 1rem;
}